*{
    margin:0;
    padding:0;
}
body{
    background: gray;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:1440px;
}
main{
    width:100%;
    max-width:1440px;
    display:flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width:100%;
    max-width:1440px;
    height: 100vh;
}
header > nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height:70px;
    max-width:1440px;
    background-color: rgba(77,77,77,0.3);
}
header > nav > ul{
    display:flex;
    justify-content: center;
    align-items: center;
    height:70px;
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    text-shadow:1px 1px black;
    color:lightblue;
}
header > nav > ul > li{
    display: inline-block;
    /* padding:5px; */
    margin:3%;
    width:90px;
}
header > div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:1300px;
    flex-wrap: wrap;
}
header > div > div{
    display:flex;
    justify-content: center;
    align-items: baseline;
    font-size: 20px;
    width:500px;
    flex-direction: column;
}
header > div > img{
    width:100%;
    height:400px;
    max-width:700px;
}
header > div > h1{
    width:100%;
    max-width:700px;
}

article{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    max-width: 1440px;
}
article > .photoFirst{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    max-width:1440px;
    min-height:500px;
    /* height:500px; */
}
article > .photoFirst > img{
    width:100%;
    max-width:300px;
    height:417px;
    margin:7px;
    object-fit: cover;
}
article > div{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
article > div > img{
    width:100%;
    max-width:700px;
}
article > div > div{
    width:100%;
    max-width:500px;
}
article > .aboutUs{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
article > .aboutUs > div{
    display:flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width:100%;
    max-width: 1440px;
}
article > .aboutUs > div > div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    max-width: 350px;
}
article > .bigText{
    width:100%;
    max-width:1440px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article > .bigText > button{
    width:100%;
    max-width:170px;
    height:30px;
}
article > .aboutUs > h3{
    margin:3%;
}
article > .aboutUs > div > div > img{
    width:300px;
}
.aboutUs > div > div > button{
    width:100%;
    /* max-width:70px; */
    height: 30px;
}
.threeBlock{
    display:flex;
    width:100%;
    max-width: 1440px;
    flex-wrap: wrap;
}
.threeBlock > ul{
    width:100%;
    max-width:500px;
}
.threeBlock > img{
    width:100%;
    max-width: 450px;
}